@import "../variables.scss";

.gsect-button {
  border: none;
  background: $white;
  border-radius: 4px;
  width: 100%;
  max-width: 240px;
  height: 53px;
  color: $gsectblue;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &.inverted {
    background-color: $gsectblue;
    color: $white;
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid $gsectblue;
  }
  &.facebook {
    background-color: $facebook;
    color: $white;
  }
  &.google {
    background-color: $google;
    color: $gsectblack;
  }
  &.subscribe {
    background-color: $gsectyellow;
    color: $gsectblue;
  }
}
