@import "../variables.scss";

.gsect-button {
  border: none;
  background: $white;
  border-radius: 4px;
  width: 240px;
  height: 53px;
  color: $gsectblue;
  cursor: pointer;
  &.inverted {
    background-color: $gsectblue;
    color: $white;
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid $gsectblue;
  }
  &.facebook {
    background-color: $facebook;
    color: $white;
  }
}
