@import '../variables.scss';

.footer{
    background-color: $gsectblue;
    width: calc(100% - $padding);
    max-width: 1440px;
    bottom: 0px;
    color: $white;
    padding: 5px;
    .main, .minor{
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }
    .main{
        form{
            display: block;
            input{
                color: $white;
                width: 560px;
                height: 52px;
                background-color: $gsectblue;
                border: 1px solid $white;
                border-radius: 5px;
                margin-bottom: 8px;
                font-size: 14px;
                padding: 0 0 0 40px;
            }
            input::placeholder{
                color: $white;
            }
        }
        .company, .legal, .earn, .join{
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 14px;
            }
            p{
                font-size: 15px;
                margin: 20px 0;
                color: $gsectgray;
                font-weight: lighter;
            }
        }
        .company{
            width: 110px;
        }
        .legal{
            width: 236px;
        }
        .earn{
            width: 129px;
        }
    }
    .minor{
        align-items: flex-end;
        div:nth-child(1){
            align-items: left;
        }
        div.links{
            align-items: right;
            margin: 0 0 0 50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            a{
               margin: 0 10px; 
               &:nth-child(2){
                img{
                    width: 15px;
                }
            }
            }
            
            img{
                width: 22px;
                
            }
        }
    }
    
    hr{
        border: 1px solid $gsectyellow;
        margin: 10px 50px;
    }
}