@import '../variables.scss';
header.header {
    width: calc(100vw - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
    padding: 0 50px;
    background-color: $gsectblue;
    .menu {
      display: flex;
      justify-content: flex-start;
      img {
        width: 70px;
        height: 24px;
        margin-right: 60px;
      }
      .links {
        display: none;
        @media (min-width: 1024px) {
          display: block;
        }
        .link {
          text-decoration: none;
          color: $white;
          font-weight: $font-medium;
          margin-right: 40px;
          cursor: pointer;
          &:active,
          &:focus,
          &:hover {
            color: $gsectyellow;
          }
        }
      }
    }
    .get-started {
      button{
        width: 240px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }