@import '../variables.scss';

.login-popup{
    width: 386px;
    height: 552px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    display: block;
    margin: 50px auto;
    align-content: center;
    
    justify-content: center;
    padding: 15px;
    outline: none;
        .modalHead{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .closeBtn img{
                cursor: pointer;
                position: relative;
            }
            .modalTitle{
                position: relative;
                top: -15px;
            }
        }
        .formDiv{
            display: block;
            justify-content: center;
            align-items: center;
            .loginDetails{
                input{
                    margin: 10px auto;
                    width: 220px;
                    height: 48px;
                    background: #F6F7FB;
                    border: 1px solid #EAEAED;
                    box-sizing: border-box;
                    box-shadow: inset 0px 2px 5px #00000005;
                    border-radius: 8px;
                    color: $gsectblue;
                    font-size: large;
                }
                .holder{
                    img{
                       position: relative;
                       right:30px;
                       bottom: -5px;
                       cursor: pointer;
                       filter: opacity(60%) grayscale(60%);
                       width: 20px;
                    }
                }
            }
            .formBtn button{
                margin: 10px auto;
            }
        }
}