@import '../variables.scss';

.side-bar {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    width: 100%;
    max-width: 277px;
    height: 100%;
    max-height: 795px;
    background-color: $gsectblue;
    color: $white;
    display: block;
    .gsect{
        width: 90px;
        margin: 14px auto;
        img{
            width: 70px;
            height: 24px;
            margin: 0 auto;
        }
    }
    .list{
        margin: 0 auto;
        margin-top: 110px;
        // text-align: center;
        a{
            width: 100%;
            max-width: 260px;
            height: 40px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 24px auto;
            
            color: $white;
            text-decoration: none;
            font-weight: $weight-normal;
            span, label{
                margin: 0px 10px ;
                height: 20px;
            }
            span{
                img{
                    width: 20px;
                }
            }
            label{
                text-align: left;
            }
            &:hover, &:active, &active{
                border-left: 5px solid $gsectyellow;
                color: $gsectyellow;
                span img{
                    color: $gsectyellow
                }
            }
        }
    }
    div.logout{
        margin-top: 250px;
        &:hover, &:active, &active{
            border-left: 5px solid $gsectyellow;
            color: $gsectyellow;
            
        }
    }
}