.ReactModal__Overlay {
    opacity: 0;
    transform: translateXY(-100px);
    transition: all 500ms ease-in-out;
    top: 0 !important;
    background-color: #0000004f blur(5px);
    z-index: 5;
}
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateXY(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateXY(-100px);
  }