@import "./variables.scss";

.landing {
  width: 100vw;
  height: 100vh;
  .banner {
    display: block;
    position: relative;
    width: 100%;
    background: linear-gradient(to right, $white, #fff6e4);
    @media (min-width: 1024px) {
      height: 632px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .content {
      @media (min-width: 1024px) {
        padding-left: 50px;
        width: 50%;
      }
      h1.title {
        margin-top: 0;
        font-size: 40px;
        color: $gsectblue;
        font-weight: $weight-bold;
        padding-top: 72px;
        text-align: center;
        width: 80%;
        margin: auto;
        @media (min-width: 1024px) {
          font-size: 54px;
          text-align: left;
          margin: unset;
          width: 96%;
        }
      }
      p.subtitle {
        margin-bottom: 40px;
        color: $gsectblue;
        line-height: 24px;
        text-align: center;
        width: 80%;
        margin: 24px auto;
        @media (min-width: 1024px) {
          width: 65%;
          text-align: left;
          margin: 24px 0 46px;
        }
      }
      .actions {
        display: flex;
        gap: 8px;
        justify-content: center;
        @media (max-width: 1024px) {
          width: 100%;
          justify-content: flex-start;
        }
        button {
          &:nth-child(1){
            @media(max-width:1024px){
              margin: 10px auto;
            }
          }
          &:nth-child(2){
          @media (max-width: 1024px) {
            display: none;
          }
        }
        }
      }
      .right-top-left {
        position: absolute;
        top: 12px;
        left: 20px;
        width: 80px;
        height: 60px;
        @media (min-width: 1024px) {
          top: 66px;
        }
      }
    }
    .banner-image {
      position: relative;
      height: 100%;
      overflow: hidden;
      margin-top: 120px;
      @media (min-width: 1024px) {
        width: 50%;
        margin-top: unset;
      }
      .banner-img {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        @media (min-width: 1024px) {
          right: 0;
          position: absolute;
          top: 32px;
        }
      }
      .right-bottom-right {
        position: absolute;
        z-index: 1;
        right: -25vw;
        overflow: hidden;
        height: 246px;
        width: 272px;
        @media (min-width: 1024px) {
          right: 60px;
          bottom: 32px;
          height: unset;
          width: unset;
        }
      }
    }
  }
  .sub {
    // position: relative;
    width: calc(100% - $padding);
    background: $white;
    padding: $padding;
    padding-top: 60px;
    margin: auto;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
      width: 80%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    .sub-image {
      position: relative;
      width: 40%;
      height: 100%;
      @media(max-width:1024px){
        width: 100%;
      }
      .left-top-left {
        width: 40%;
        height: auto;
        z-index: 5;
        position: absolute;
        @media (min-width: 1024px) {
          left: 112px;
          top: 58px;
        }
      }
      .sub-img {
        width: 100%;
        @media (min-width: 1024px) {
          width: 446px;
          height: 577px;
        }
      }
      .bottom-right {
        width: 136px;
        height: 97px;
        left: 0;
        top: 0;
        z-index: 1;
        position: relative;
      }
    }
    .sub-content {
      width: 60%;
      @media(max-width:1024px){
        width: 100%;
      }
      .title {
        font-size: $head-font;
        font-weight: 700;
        text-align: left;
        color: $gsectblue;
        margin-bottom: 60px;
        margin-top: 0;
        @media (max-width: 1024px) {
          text-align: center;
          font-size: 35px;
          margin: 30px auto;
        }
      }
      .subtitle {
        .choices {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 50px;
          // flex-wrap: wrap;
          @media (min-width: 1024px) {
            flex-wrap: nowrap;
            width: 100%;
          }
          .choices-cover {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gsectyellow;
            margin-right: 24px;
            margin-bottom: 0.75rem;
            @media (max-width: 1024px) {
              margin-bottom: 0;
              // width: 10%;
            }
            .choices-img {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
          .choices-content {
            @media (max-width: 1024px) {
              width: 80%;
            }
            h3,
            p {
              margin: 0;
            }
          }
        }
      }
    }
    .actions{
      button{
        @media(max-width:1024px){
          margin: 60px auto;
        }
      }
    }
  }
  .manage {
    background: #f9f9f9;
    padding: 6rem $padding;
    width: calc(100% - $padding);
    .manage-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1024px) {
        display: block;
        align-items: center;
        width: 96%;
        margin: auto;
      }
      .manage-text {
        color: $gsectblue;
        margin: 0 auto;
        text-align: left;
        display: block;
        justify-content: center;
        align-content: center;
        @media (min-width: 1024px) {
          max-width: 40%;
        }
        button{
          @media(max-width:1024px){
            margin: 40px auto;
            margin-bottom: 100px;
          }
        }
        h1 {
          font-style: normal;
          font-weight: $weight-bold;
          font-size: $head-font;
          line-height: 45px;
          @media(max-width: 1024px){
            text-align: center;
            margin: 10px auto;
            font-size: 35px;
          }
        }
        p {
          text-align: left;
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 27px;
          @media(max-width: 1024px){
            text-align: center;
            margin: 50px auto;
          }
        }
      }
      .manage-image {
        width: 100%;
        margin: auto;
        position: relative;
        @media (max-width: 1024px) {
          width: 100%;
          margin: 50px auto;
        }
        .top-left {
          position: absolute;
          width: 40%;
          z-index: 1;
          top: -40px;
          left: -40px;
          @media (min-width: 1024px) {
            width: 320px;
          }
        }
        .manage-img {
          z-index: 0;
          width: 100%;
          max-width: 220px;
          @media (min-width: 1024px) {
            max-width: 300px;
          }
        }
        .right-bottom {
          z-index: 1;
          position: absolute;
          bottom: -60px;
          right: 60px;
        }
      }
    }
  }
}
