@import "./variables.scss";

.landing {
  width: 100%;
  header.header {
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 50px;
    background-color: $gsectblue;
    .menu {
      display: flex;
      justify-content: flex-start;
      img {
        width: 70px;
        height: 24px;
        margin-right: 60px;
      }
      .links {
        .link {
          text-decoration: none;
          color: $white;
          font-weight: $font-medium;
          margin-right: 40px;
          &:active, &:visited, &:hover {
            color: $gsectyellow;
          }
        }
      }
    }
  }
  .banner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 632px;
    width: 100%;
    background: linear-gradient(to right, $white, #FFF6E4);
    .content {
      padding-left: 50px;
      width: 48%;
      h1.title {
        margin-top: 72px;
        font-size: 54px;
        color: $gsectblue;
        font-weight: $weight-bold;
      }
      p.subtitle {
        margin-bottom: 40px;
        color: $gsectblue;
        line-height: 24px;
        width: 65%;
      }
      .actions {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
      }
      .right-top-left {
        position: absolute;
        top: 66px;
        left: 20px;
        width: 80px;
        height: 60px;
      }
      
    }
    .banner-image {
      position: relative;
      width: 50%;
      height: 100%;
      .banner-img {
        position: absolute;
        top: 32px;
        width: 100%;
        height: auto;
        right: 0;
        z-index: 9;
      }
      .right-bottom-right {
        position: absolute;
        right: 60px;
        bottom: 32px;
        z-index: 1;
      }
    }
  }
  .sub{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 632px;
    width: 100%;
    background: $white;
    .sub-image{
      position: relative;
      width: 50%;
      height: 100%;
        .left-top-left{
          left: 112px;
          top: 58px;
          z-index: 1;
          position: relative;
        }
        .sub-img{
          width: 445.58px;
          height: 577px;
          left: 153;
          bottom: 99;
        }
        .bottom-right{
          top: 0;
          bottom: 49px;
          right: 888px;
          z-index: 1;
          position: relative;
        }
    }
    .sub-content{
      position: absolute;
      width: 533px;
      height: 577px;
      left: 778px;
      top: 89px;
        h1.title{
          font-weight: bold;
          font-size: 39px;
          line-height: 45px;
          color: $gsectblue;
        }
        .subtitle{
          .choices {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 466px;
            height: 80px;
            left: 780px;
            top: 239px;
            margin-bottom: 20px;
            .choices-img{
              background-color: $gsectyellow;
              position: relative;
              padding: 14px;
              border-radius: 100%;
              width: 24.89px;
              height: 22px;
            }
            .choices-content{
              width: 382px;
              height: 80px;
                h3, p{
                  margin: 0;
                }
                
            }
          }
        }
    }
  }
}

