
$gsectblue: #023787;
$gsectyellow: #EF9E01;
$gsectgray: #F9F9F9;
$gsectblack: #001C35;
$white: #FFF;
$facebook: #0058DB;

//font-weights
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-black: 900;

//font size
$font-base-plus: 18px;
$font-base: 16px;
$font-medium: 14px;
$font-xs: 12px;
$font-xxs: 10px;
