
$gsectblue: #023787;
$gsectpurple: #200E32;
$gsectbluish: #0058DB;
$gsectyellow: #EF9E01;
$gsectgray: #F9F9F9;
$gsectgrayish: #C4C4C4;
$gsectgraylite: #F6F7FB;
$gsectblack: #001C35;
$gsectgreen: #444643;
$gsectred: #FF0000;
$white: #FFF;
$facebook: #0058DB;
$google: #EAEAED;

//font-weights
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-black: 900;

//font size
$font-base-plus: 18px;
$font-base: 16px;
$font-medium: 14px;
$font-xs: 12px;
$font-xxs: 10px;

$headerHeight: 90px;
